<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3egdMPRdAq9W56Z39Y_7R49bI377shbM</string>
	<key>GCM_SENDER_ID</key>
	<string>558883165267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.beetkom</string>
	<key>PROJECT_ID</key>
	<string>marketx-4924f</string>
	<key>STORAGE_BUCKET</key>
	<string>marketx-4924f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558883165267:ios:9f4f4baa88ff66cc5a62a6</string>
</dict>
</plist>